<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add File</h3>
<p>
  <a th:href="@{/file}">
    Back to file list
  </a>
</p>
<div id="form">
  <form th:action="@{/file/save}" th:object="${fileForm}"
        method="POST" novalidate="novalidate" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label>File</label>
      <input type="file" th:field="*{name}"/>
    </div>
    <input type="hidden" th:field="*{originalFilename}"/>
    <div>
      <label>Content Type</label>
      <input type="text" th:field="*{contentType}"/>
    </div>
    <div>
      <label>Size</label>
      <input type="text" th:field="*{size}"/>
    </div>
    <div>
      <label>Date</label>
      <input type="text" th:field="*{date}"/>
    </div>
    <input type="submit" value="Save"/>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>